.btns-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 400px;
}
.button {
  margin-right: 2px;
}
.button2 {
  background-color: blue;
  color: white;
}
.table-container {
  margin-top: 30px;
}
.col-name {
  margin-right: 500px;
  text-align: center;
}
.green-btn {
  color: green;
  border-color: green;
  border-radius: 2px;
}
.row {
  margin: 20px;
}
.line {
  color: grey;
  border: 1px solid grey;
}
